insipid-sphinx-theme
nbsphinx
ipython!=8.7.0  # see https://github.com/spatialaudio/nbsphinx/issues/687
ipykernel
NumPy
SymPy>=1.9
SciPy
matplotlib>=2.1
sphinxcontrib-bibtex>=2.1
sphinx-last-updated-by-git
sphinx-codeautolink
