name: Build Docs with Sphinx
on: [push, pull_request]
env:
  PIP_INSTALL: python -m pip install
  SPHINX: python -m sphinx -W --keep-going --color
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install pandoc
        run: |
          sudo apt-get install --no-install-recommends pandoc
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3"
      - name: Show Python version
        run: |
          python --version
      - name: Install Python package
        run: |
          $PIP_INSTALL .
      - name: Install docs dependencies
        run: |
          $PIP_INSTALL -r doc/requirements.txt
      - name: Build HTML
        run: |
          $SPHINX doc/ _build/html/ -d _build/doctrees/ -b html
      - name: Upload HTML
        uses: actions/upload-artifact@v5
        with:
          name: HTML
          path: _build/html/
      - name: Build LaTeX sources
        run: |
          $SPHINX doc/ _build/latex/ -d _build/doctrees/ -b latex
      - name: Run LaTeX
        uses: dante-ev/latex-action@master
        with:
          working_directory: _build/latex
          root_file: splines.tex
      - name: Upload PDF
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: _build/latex/splines.pdf
      - name: Check links
        run: |
          $SPHINX doc/ _build/linkcheck/ -d _build/doctrees/ -b linkcheck -q
      - name: Upload linkcheck results
        uses: actions/upload-artifact@v5
        if: ${{ success() || failure() }}
        with:
          name: linkcheck
          path: _build/linkcheck/output.*
